@media screen and (max-width: 991.98px) and (min-width: 768px)
	.bg_main
		.header
			justify-content: space-around
		.bg_main__wrapper
			height: auto
			margin-top: 40px
			align-items: center

	section.advantages
		padding-top: 70px
		padding-bottom: 40px
		.advantages__wrapper
			flex-direction: column
			align-items: center
			padding-top: 30px
			.advantages__item
				width: 90%
				height: auto
				h3
					font-size: 25px
				div.advantages__desc
					height: auto
					font-size: 21px
					padding-bottom: 15px
					text-align: justify
							

@media screen and (max-width: 767.98px) 
	.bg_main
		height: auto
		.header
			flex-direction: column
			.header__contacts
				margin-top: 9px
			a.header__phone
			margin-bottom: 12px
			.xs-hidden
				display: none
		.bg_main__wrapper
			height: auto
			margin-top: 40px
			align-items: center
			.bg_main__header
				font-size: 28px

	.advantages
		padding-top: 40px
		padding-bottom: 40px
		.advantages__wrapper
			flex-direction: column
			align-items: center
			padding-top: 30px
			.advantages__item
				width: 90%
				height: auto
				h3
					font-size: 20px
				div.advantages__desc
					height: auto
					font-size: 17px
					padding-bottom: 5px
					