@media screen and (max-width: 991.98px) and (min-width: 768px)
	.bg_main
		.header
			justify-content: space-around
		.bg_main__wrapper
			height: auto
			margin-top: 40px
			align-items: center

	section.advantages
		padding-top: 70px
		padding-bottom: 40px
		.advantages__wrapper
			flex-direction: column
			align-items: center
			padding-top: 30px
			.advantages__item
				width: 90%
				height: auto
				h3
					font-size: 25px
				div.advantages__desc
					height: auto
					font-size: 21px
					padding-bottom: 15px
					text-align: justify

	section.forms
		height: auto
		padding: 40px 0 92px 0
		h2.title
			font-size: 25px
			text-align: center
		div.forms__desc
			margin-top: 12px
			font-weight: 400
			color: #ffffff
			font-size: 20px
			text-align: center
			text-transform: none
		form.modal_struct
			margin: 0 auto
			padding-top: 30px
			width: 70%
			input
				color: red						

@media screen and (max-width: 767.98px) 
	.bg_main
		height: auto
		.header
			flex-direction: column
			.header__contacts
				margin-top: 9px
			a.header__phone
			margin-bottom: 12px
			.xs-hidden
				display: none
		.bg_main__wrapper
			height: auto
			margin-top: 40px
			align-items: center
			.bg_main__header
				font-size: 28px

	.advantages
		padding-top: 40px
		padding-bottom: 40px
		h2.title
			font-size: 24px
		.advantages__wrapper
			flex-direction: column
			align-items: center
			padding-top: 30px
			.advantages__item
				width: 90%
				height: auto
				h3
					font-size: 20px
				div.advantages__desc
					height: auto
					font-size: 17px
					padding-bottom: 5px

	section.forms
		height: auto
		padding: 30px 0 0px 0
		h2.title
			font-size: 20px
			text-align: center
		div.forms__desc
			margin-top: 12px
			font-weight: 400
			color: #ffffff
			font-size: 20px
			text-align: center
			text-transform: none
		form.modal_struct
			margin: 0 auto
			padding-top: 30px
			width: 70%
			input
				color: red		

@media screen and (max-width: 575.98px) 

	.bg_main
		height: auto
		.header
			flex-direction: column
			.header__contacts
				margin-top: 9px
			a.header__phone
			margin-bottom: 12px
			.xs-hidden
				display: none
		.bg_main__wrapper
			height: auto
			margin-top: 40px
			align-items: center
			.bg_main__header
				font-size: 20px
			.bg_main__subheader
				font-size: 16px
				text-align: center
			div.bg_main__icons	
				flex-direction: column
				align-items: center
				.bg_main__icon
					font-size: 18px	
					margin-bottom: 30px
					img
						width: 60%
						margin-bottom: 0px

	section.forms
		h2.title
			font-size: 18px
			text-align: center
			font-weight: bolder
		div.forms__desc
			width: 90%
			font-size: 15px
			text-align: center
