@font-face {
  font-family: 'icomoon';
  src:  url('../fontsicon/icomoon.eot?nc9xmd');
  src:  url('../fontsicon/icomoon.eot?nc9xmd#iefix') format('embedded-opentype'),
    url('../fontsicon/icomoon.ttf?nc9xmd') format('truetype'),
    url('../fontsicon/icomoon.woff?nc9xmd') format('woff'),
    url('../fontsicon/icomoon.svg?nc9xmd#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  
  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
  content: "\ea90";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-pinterest2:before {
  content: "\ead2";
}