@font-face {
    font-family: 'Museo Sans';
    src: url('../fonts/MuseoSansCyrl-100.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Museo Sans';
    src: url('../fonts/MuseoSansCyrl-300.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Museo Sans';
    src: url('../fonts/MuseoSansCyrl-500.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}   

@font-face {
font-family: 'Museo Sans';
src: url('../fonts/MuseoSansCyrl-700.ttf') format('truetype');
font-weight: 700;
font-style: normal; 
}

@font-face {
font-family: 'Museo Sans';
src: url('../fonts/MuseoSansCyrl-900.ttf') format('truetype');
font-weight: 900;
font-style: normal;
}
    